
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Fillow : Fillow Saas Admin  Bootstrap 5 Template">
    <meta property="og:title" content="Fillow : Fillow Saas Admin  Bootstrap 5 Template">
    <meta property="og:description" content="Fillow : Fillow Saas Admin  Bootstrap 5 Template">
    <meta property="og:image" content="https://fillow.dexignlab.com/xhtml/social-image.png">
    <meta name="format-detection" content="telephone=no">

    <!-- PAGE TITLE HERE -->
    <title>User Login</title>

    <!-- FAVICONS ICON -->
    <link rel="shortcut icon" type="image/png" href="~/Images/download (3).jpg">
    <link href="~/Content/css/style.css" rel="stylesheet">
</head>

<body class="vh-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6" style="width: 36%;">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <div class="text-center mb-3">
                                        <a href="index.html"><img src="images/logo-full.png" alt=""></a>
                                    </div>
                                    <video autoplay muted loop id="background-video" style="width: 44%; margin-left: 27%; margin-top: -7%; ">
                                        <source src="~/Images/Black%20and%20White%20Modern%20Minimalist%20Accounting%20Animated%20Logo%20(1).mp4" type="video/mp4" />
                                    </video>
                                    <h4 class="text-center mb-4">Sign in your account</h4>
                                    <form action="index.html">
                                        <div class="mb-3">
                                            <label class="mb-1"><strong>UserName</strong></label>
                                            <input type="text" id="txtusername" class="form-control">
                                        </div>
                                        <div class="mb-3">
                                            <label class="mb-1"><strong>Password</strong></label>
                                            <input type="password" id="txtpassword" class="form-control">
                                        </div>
                                        <div class="row d-flex justify-content-between mt-4 mb-2">
                                            <div class="mb-3">
                                                <div class="form-check custom-checkbox ms-1">
                                                    <input type="checkbox" class="form-check-input" id="basic_checkbox_1">
                                                    <label class="form-check-label" for="basic_checkbox_1">Remember my preference</label>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <a href="page-forgot-password.html">Forgot Password?</a>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" id="btnlogin" class="btn btn-primary btn-block">Login In</button>
                                        </div>
                                    </form>
                                    <div class="new-account mt-3">
                                        <p>Don't have an account? <a class="text-primary" href="page-register.html">Sign up</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="~/Scripts/js/vendor/global/global.min.js"></script>
    @*<script src="vendor/chart.js/Chart.bundle.min.js"></script>*@
    <script src="~/Scripts/js/vendor/chart.js/Chart.bundle.min.js"></script>
    @*<script src="vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>*@
    <script src="~/Scripts/js/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>

    <!-- Apex Chart -->
    @*<script src="vendor/apexchart/apexchart.js"></script>*@
    <script src="~/Scripts/js/vendor/apexchart/apexchart.js"></script>

    @*<script src="vendor/chart.js/Chart.bundle.min.js"></script>*@
    <script src="~/Scripts/js/vendor/chart.js/Chart.bundle.min.js"></script>
    <!-- Chart piety plugin files -->
    @*<script src="vendor/peity/jquery.peity.min.js"></script>*@
    <script src="~/Scripts/js/vendor/peity/jquery.peity.min.js"></script>
    <!-- Dashboard 1 -->
    @*<script src="js/dashboard/dashboard-1.js"></script>*@
    <script src="~/Scripts/js/dashboard/dashboard-1.js"></script>

    @*<script src="vendor/owl-carousel/owl.carousel.js"></script>*@
    <script src="~/Scripts/js/vendor/owl-carousel/owl.carousel.js"></script>

    @*<script src="js/custom.min.js"></script>*@
    <script src="~/Scripts/js/custom.min.js"></script>
    @*<script src="js/dlabnav-init.js"></script>*@
    <script src="~/Scripts/js/dlabnav-init.js"></script>

    @*<script src="js/demo.js"></script>*@
    <script src="~/Scripts/js/demo.js"></script>
    @*<script src="js/styleSwitcher.js"></script>*@
    <script src="~/Scripts/js/styleSwitcher.js"></script>
    <script src="~/fuctionscripts/Login.js"></script>
    <script>
        $(function () {
            'use strict'

        });
    </script>
</body>
</html>
